---
interface Props {
  span?: 4 | 5 | 6 | 7 | 8 | 12;
  class?: string;
}
const { span = 12, class: className = '' } = Astro.props;
---

<div class:list={[`bento-card span-${span}`, className]}>
  <slot />
</div>
